<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editModal{{ persona.id }}">Edit</button>

<!-- Modal -->
<div class="modal fade" id="editModal{{ persona.id }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit {{ persona.name }} {{ persona.fistName }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action={% url 'modal:editModal' %} method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="persona_id" value="{{persona.id}}" />
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name" value="{{ persona.name }}" />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="fist_name" id="floatingInput" placeholder="First Name" value="{{ persona.fistName }}" />
            <label for="floatingInput">First Name</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-warning">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
